[Desktop Entry]
Version=1.0
Name=LuckyCoinORO Core
Comment=LuckyCoinORO P2P Cryptocurrency
Comment[de]=Verbinde mit dem LuckyCoinORO peer-to-peer Netzwerk
Comment[fr]=LuckyCoinORO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LuckyCoinORO, eşten eşe kriptografik sanal para birimi
Exec=luckycoinoro-qt %u
Terminal=false
Type=Application
Icon=luckycoinoro128
MimeType=x-scheme-handler/luckycoinoro;
Categories=Office;Finance;
StartupWMClass=LuckyCoinORO-qt
